body {
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.header-area {
    padding: 60px;
    background-size: cover;
    height: 500px;
    background-image: url(images/donation6.jpg);
    background-repeat: no-repeat;
    color: white;
}

.header-text-area {
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

.header-text-area h1 {
    font-size: 60px;
    margin-bottom: 10px;
}

.header-text-area p {
    font-size: 15px;
    width: 70%;
    margin: 0 auto;
}

.donate-button {
    text-decoration: none;
    padding: 15px 18px;
    background-color: tomato;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    display: inline-block;
    margin-top: 30px;
    letter-spacing: 1px;
}





.donate-day-area {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding: 65px 0;
}

.donate-text-area h1 {
    font-size: 40px;
    margin-bottom: 10px;
    font-weight: 700;
}

.donate-text-area p {
    font-size: 15px;
    width: 55%;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 30px;
}

.donate-text-area ul {
    color: gray;
}

.donate-text-area ul li {
    list-style-type: none;
    display: inline-block;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 32px 20px;
    margin: 0px 10px;
}

.donate-text-area input {
    border: none;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    padding: 10px 5px;
    margin-top: 35px;
    outline: none;
}

.taka-color {
    border: 2px solid tomato;
    color: tomato;
    display: inline-block;
    background-color: mistyrose;
    border-radius: 5px;
}






.donate-plan-area {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 40px;
}

.donate-plan-text-area h1 {
    font-size: 40px;
    margin-bottom: 10px;
    font-weight: 700;
}

.donate-plan-text-area p {
    font-size: 15px;
    width: 55%;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 30px;
}

.donate-plan-item {
    display: flex;
    margin-top: 15px;
}

.donate-plan-item-width {
    width: 33%;
    padding: 40px 20px 30px;
    margin: 0 10px;
    text-align: left;
    border-radius: 5px;
}

#item-width-one {
    background-color: lightblue;
}

#item-width-two {
    background-color: pink;
}

#item-width-three {
    background-color: blanchedalmond;
}






.donate-qurbani-area {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 40px;
}

.donate-qurbani-text-area h1 {
    font-size: 40px;
    margin-bottom: 10px;
    font-weight: 700;
}

.donate-qurbani-text-area p {
    font-size: 15px;
    width: 55%;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 30px;
}

.donate-qurbani-item-area {
    display: flex;
    margin-top: 20px;
}

.qurbani-item-width {
    width: 33%;
    margin: 0 20px;
    padding: 40px 30px 10px;
    box-shadow: 5px 5px 40px pink;
    border-radius: 5px;
}

.qurbani-item-width img {
    width: 33%;
}

.qurbani-item-width ul {
    text-align: center;
    padding: inherit;
}

.qurbani-item-width ul li {
    list-style-type: none;
}

.qurbani-item-width a {
    text-decoration: none;
    color: tomato;
}






.subscribe-area {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 40px;
}

.subscribe-area h1 {
    font-size: 40px;
    margin-bottom: 10px;
    font-weight: 700;
}

.subscribe-area p {
    font-size: 15px;
    width: 55%;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 30px;
}

.subscribe-input-area {
    background-color: blanchedalmond;
    width: 60%;
    margin: 0 auto;
    padding: 65px;
    margin-top: 20px;
}

#email {
    padding: 15px 40px;
    border: none;
    border-radius: 5px 0 0 5px;
    background-color: lightgray;
    color: gray;
    font-weight: bold;
    outline: none;
}

#button {
    padding: 15px 40px;
    border: none;
    border-radius: 0 5px 5px 0;
    color: white;
    background-color: tomato;
    margin-left: -4px;
}




footer {
    background-color: black;
    text-align: center;
    padding: 30px 0;
    margin-top: 65px;
}

footer h3 {
    font-family: 'Lobster', cursive;
    color: tomato;
    font-size: 30px;
    font-weight: normal;
    margin: 15px 0;
}

footer small {
    color: white;
    font-size: 10px;
}